<div class="form_area">
  <form [formGroup]="cDetailForm" (ngSubmit)="onSubmit()">
    <h1>Get a Quatation</h1>
    <div class="form-group">
      <label for="exampleFormControlInput1">Email</label>
      <input type="text" class="form-control" formControlName="email" placeholder="">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Phone</label>
      <input type="text" class="form-control" formControlName="phone" placeholder="">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>


<div class="wrapper">
  <header>
      <div class="container">
      <div class="logo"><a><img src="images/logo.png" alt="Identity Cards"></a></div>
      <nav class="navbar navbar-default"><!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"><span></span><span></span><span></span>
          </button>
        </div><!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse collapse" id="navbar-collapse" aria-expanded="false">
          <ul class="nav navbar-nav">
            <li><a href="#home">Home</a></li>
            <li><a href="#samples">ID Cards</a></li>
            <li><a href="#our_product">Our Product</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <div id="home">
    <div class="table_t">
      <div class="cell_t">
        <h1>Welcome to Identity Cards</h1>
        <p>Give <b>Identity</b> to your Business Go Now for Identity Cards</p><a class="btn" href="price-calculator.html">Get Quatation Now</a>
      </div>
    </div><a class="go_down" href="#samples"></a>
  </div>
  <div id="samples">
    <div class="container">
      <div class="slider">
        <div class="owl-carousel owl-banner owl-theme">
          <div class="item">
            <div class="img_area"><img src="images/cards/card-1.jpg"></div>
          </div>
          <div class="item">
            <div class="img_area"><img src="images/cards/card-2.jpg"></div>
          </div>
          <div class="item">
            <div class="img_area"><img src="images/cards/card-3.jpg"></div>
          </div>
          <div class="item">
            <div class="img_area"><img src="images/cards/card-4.jpg"></div>
          </div>
          <div class="item">
            <div class="img_area"><img src="images/cards/card-5.jpg"></div>
          </div>
          <div class="item">
            <div class="img_area"><img src="images/cards/card-6.jpg"></div>
          </div>
          <div class="item">
            <div class="img_area"><img src="images/cards/card-7.jpg"></div>
          </div>
          <div class="item">
            <div class="img_area"><img src="images/cards/card-8.jpg"></div>
          </div>
          <div class="item">
            <div class="img_area"><img src="images/cards/card-9.jpg"></div>
          </div>
          <div class="item">
            <div class="img_area"><img src="images/cards/card-10.jpg"></div>
          </div>
          <div class="item">
            <div class="img_area"><img src="images/cards/card-11.jpg"></div>
          </div>
          <div class="item">
            <div class="img_area"><img src="images/cards/card-11-back.jpg"></div>
          </div>
          <div class="item">
            <div class="img_area"><img src="images/cards/card-12.jpg"></div>
          </div>
          <div class="item">
            <div class="img_area"><img src="images/cards/card-12-back.jpg"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="our_product">
    <div class="container">
      <div class="head_area">
        <h2>Our Product</h2>
        <p>Our PVC Identity Cards Accessories for making a CARD</p>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <aside>
            <div class="img_area"><img src="images/img01.jpg" alt="PVC ID Cards"></div>
            <div class="txt_area">
              <p class="head">PVC ID Cards</p>
              <p>We provide PVC Card, Identity Card for Institution & Companies.</p>
            </div>
          </aside>
        </div>
        <div class="col-sm-6 col-md-3">
          <aside>
            <div class="img_area"><img src="images/img02.jpg" alt="Magnetic Striping Card"></div>
            <div class="txt_area">
              <p class="head">Magnetic Striping Card</p>
              <p>Magnetic Stripped card stores embossed information.</p>
            </div>
          </aside>
        </div>
        <div class="col-sm-6 col-md-3">
          <aside>
            <div class="img_area"><img src="images/img03.jpg" alt="Official Dori"></div>
            <div class="txt_area">
              <p class="head">Official Dori</p>
              <p>We provide ID Card Dori Corporate Companies.</p>
            </div>
          </aside>
        </div>
        <div class="col-sm-6 col-md-3">
          <aside>
            <div class="img_area"><img src="images/img04.jpg" alt="Digital Lanyard / Dori"></div>
            <div class="txt_area">
              <p class="head">Digital Lanyard / Dori</p>
              <p>We provide Digitally printed Lanyard / Dori.</p>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>
  <div id="services">
    <div class="container">
      <div class="head_area">
        <h2>Our Services</h2>
        <p>PVC ID Cards, Plastic ID Cards, RFID Identity Cards & Magnetic ID Cards.</p>
      </div>
      <div class="round table_t">
        <div class="clearfix cell_t"><i class="creative-icon"></i>
          <h3>Creative Design for Identity Cards</h3>
          <p>We create ID Cards with powerful creative designs and according to the requirement.</p>
        </div>
      </div>
      <div class="round table_t">
        <div class="clearfix cell_t"><i class="identity-icon"></i>
          <h3>Identity Cards Solutions</h3>
          <p>We provide every kinds of Identity Cards Solutions. PVC ID Cards, Magnetic Cards, RFID Cards, Scratching Cards</p>
        </div>
      </div>
      <div class="round table_t">
        <div class="clearfix cell_t"><i class="best-icon"></i>
          <h3>Best & Committed Service</h3>
          <p>We provide for our customer best and committed services. Give us chance to serve you one time.</p>
        </div>
      </div>
    </div>
  </div>
  <div id="clients">
    <div class="container">
      <div class="head_area">
        <h2>Our Clients</h2>
        <p>Here are our some Prestigious Clients</p>
      </div>
      <ul>
        <li>
          <aside><img src="images/client-logo1.jpg" alt="Softona"></aside>
        </li>
        <li>
          <aside><img src="images/client-logo2.jpg" alt="Web Excel Solution"></aside>
        </li>
        <li>
          <aside><img src="images/client-logo3.jpg" alt="EasySol"></aside>
        </li>
        <li>
          <aside><img src="images/client-logo4.jpg" alt="No 1"></aside>
        </li>
        <li>
          <aside><img src="images/client-logo5.jpg" alt="Ind Innovations Pvt"></aside>
        </li>
        <li>
          <aside><img src="images/client-logo6.jpg" alt="Radical Minds"></aside>
        </li>
        <li>
          <aside><img src="images/client-logo7.jpg" alt="IQ Zone"></aside>
        </li>
        <li>
          <aside><img src="images/client-logo8.jpg" alt="Idea"></aside>
        </li>
        <li>
          <aside><img src="images/client-logo9.jpg" alt="KMS"></aside>
        </li>
        <li>
          <aside><img src="images/client-logo10.jpg" alt="DM Group"></aside>
        </li>
        <li>
          <aside><img src="images/client-logo11.jpg" alt="Premium Reseller"></aside>
        </li>
      </ul>
    </div>
  </div>
  <div id="contact">
    <div class="container">
      <div class="head_area">
        <h2>Ask Question</h2>
        <p>Whether you would like to request a demo. We'd love to hear from you.</p>
      </div>
      <div class="form_sec col-md-8 col-md-offset-2">
        <!-- <form name="askQuery">
          <aside>
            <input class="form-control" type="text" name="name" placeholder="Name">
          </aside>
          <aside>
            <input class="form-control" type="text" name="mail" placeholder="Email">
          </aside>
          <aside>
            <input class="form-control" type="text" name="phone" placeholder="Phone">
          </aside>
          <aside>
            <textarea class="form-control" type="text" name="msg" placeholder="Message"></textarea>
          </aside>
          <aside>
            <input class="btn" type="submit" value="Send">
          </aside>
        </form> -->
      </div>
    </div>
  </div>
  <div id="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1474.6940709768623!2d77.2337436286943!3d28.517741379154234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce19c0fcd78d7%3A0xd0b9943fe09c4d1c!2sAmbedkar+Nagar%2C+Block+E%2C+Sector+5%2C+Dakshinpuri%2C+New+Delhi%2C+Delhi+110062!5e0!3m2!1sen!2sin!4v1507896065605" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen></iframe>
  </div>
</div>
<footer>
  <div class="container">
    <div class="top_footer">
      <ul>
        <li class="mail"><a href="mailto:info@creationgraphicss.co.in">info@creationgraphicss.co.in</a></li>
        <li class="mail"><a href="mailto:creationgraphicss@gmail.com">creationgraphicss@gmail.com</a></li>
        <li class="mail"><a href="mailto:creation.graphics89@gmail.com">creation.graphics89@gmail.com</a></li>
        <li class="call"><a href="tel:+919990571016">+91-9990 5710 16</a></li>
      </ul>
    </div>
    <div class="bottom_footer">
      <div class="copy_txt">Copyright © 2014 Creation Graphics. All rights reserved.</div>
      <div class="social_links">
        <ul>
          <li class="fb"><a target="_blank" href="https://www.facebook.com/IDCardss">Facebook</a></li>
          <li class="twitter"><a target="_blank" href="https://twitter.com/identitycards">Twitter</a></li>
          <li class="google"><a target="_blank" href="https://plus.google.com/u/0/115968758321840895777">Google</a></li>
          <li class="linkedin"><a target="_blank" href="#">Linkedin</a></li>
          <li class="youtube"><a target="_blank" href="http://youtu.be/l0Kt8UojIyk">Youtube</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>